body {
 font-size: 15px;
 font-family: 'Graphik', sans-serif;
 font-style: normal;
 font-weight: 400;
 line-height: 1.467rem; /* 22px */
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
}

button, input, optgroup, select, textarea {
  font-family: 'Graphik', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: currentcolor;
}

a {
  color: currentcolor;
}

svg, dialog {
  box-sizing: border-box;
}

.shadow-contour {
  box-shadow: 0 0 0 1px var(--mid-gray);
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--black);
    color: var(--white);
    border-color: var(--near-black);
  }

  .shadow-contour {
    box-shadow: 0 0 0 1px var(--near-black);
  }
}

.color-scheme--dark {
  background-color: var(--black);
  color: var(--white);
  border-color: var(--near-black);

  & .shadow-contour {
    box-shadow: 0 0 0 1px var(--near-black);
  }
}

.color-scheme--light {
  background-color: var(--white);
  color: var(--black);
  border-color: var(--mid-gray);

  & .shadow-contour {
    box-shadow: 0 0 0 1px var(--mid-gray);
  }
}

.flip-x {
  transform: scaleX(-1);
}

.scale-1 {
  transform: scale(1);
}

.scale-2 {
  transform: scale(2);
}

.scale-3 {
  transform: scale(3);
}

.aspect-ratio--3x1 {
  padding-bottom: calc(100% / 3);
}

.aspect-ratio--110x26 {
  padding-bottom: calc(26 / 110 * 100%);
}

@media (prefers-color-scheme: dark) {
  .invert--dark {
    filter: invert(1);
  }
}

.color-scheme--dark {
  & .invert--dark {         filter: invert(1); }
}

/**
 * Override color-scheme: dark invert
 */

.color-scheme--light {
  & .invert--dark {         filter: invert(0); }
}
