ul.menu button {
  border-bottom-style: solid;
  border-color: transparent;
  border-bottom-width: 2px;
}
ul.menu li {
  height: 48px;
}

ul.menu > li.active a, ul.menu > li.active button {
  border-color: var(--dark-gray);
}
ul.main-menu > li:hover span.label {
  opacity: 1;
  visibility: visible;
}
ul.main-menu > li:hover .icon {
  opacity: 0;
  visibility: hidden;
}
ul.main-menu span.label {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  opacity: 0;
  visibility: hidden;
}
