@font-face {
  font-family: 'Graphik';
  src: url('https://static.resonate.is/fonts/Graphik-Semibold.eot');
  src: url('https://static.resonate.is/fonts/Graphik-Semibold.eot?#iefix') format('embedded-opentype'),
  url('https://static.resonate.is/fonts/Graphik-Semibold.woff2') format('woff2'),
  url('https://static.resonate.is/fonts/Graphik-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Graphik';
  src: url('https://static.resonate.is/fonts/Graphik-Regular.eot');
  src: url('https://static.resonate.is/fonts/Graphik-Regular.eot?#iefix') format('embedded-opentype'),
  url('https://static.resonate.is/fonts/Graphik-Regular.woff2') format('woff2'),
  url('https://static.resonate.is/fonts/Graphik-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}
