API_DOMAIN=api.resonate.localhost
APP_DOMAIN=beta.stream.resonate.localhost
APP_HOST=https://beta.stream.resonate.localhost
API_PREFIX=/api
APP_ENV=development
COOKIE_DOMAIN=.resonate.localhost
SITE_DOMAIN=resonate.localhost
STRIPE_TOKEN=pk_***
DISABLE_NANOTIMING=no
LOG_LEVEL=debug
RATES_API_HOST=https://api.frankfurter.app
PACKAGE_URL=https://raw.githubusercontent.com/resonatecoop/resonate/develop/beta/package.json
SW_VERSION=version2
