.notifications-component {
  top: calc(var(--height-3) + 1rem);
  transform: translateX(-50%);
  left: 50%;
}

.notifications-component li.message {
  &.error .icon {
    fill: var(--red);
  }
  &.success .icon {
    fill: var(--green);
  }
}
