ul.menu li.active::after {
  position: absolute;
  content: "";
  width: 4px;
  height: 4px;
  background-color: currentcolor;
  left: 50%;
  bottom: 1rem;
  border-radius: 50%;
  transform: translate3d(-50%, 0, 0);
}
